<% provide(:title, "Friend Requests") %>

<h1 class="text-center">Friend Requests</h1>

<div>
	<div class="col-md-offset-3 col-md-7">
	<h3>Remaining Requests(<%= @invites.count%>)</h3>
	<hr>
	<% if @invites.any? %>
		<% @invites.each do |invitee| %>
			<div class="user">
				<%= link_to gravatar_for(invitee.user), user_path(invitee.user_id) %>
				<%= link_to invitee.user.name, user_path(invitee.user_id) %>
				<%= link_to "Reject Request", invite_path(invitee.user_id), method: :delete, class: 'btn btn-danger pull-right' %>
				<%= link_to "Add Friend", relationships_path, class: 'btn btn-success pull-right' %>
			</div>
		<% end %>
		<%= will_paginate @invites %>
	<% else %>
		<p>No pending invites</p>
	<% end %>
	</div>
</div>
