<% provide(:title, "Profile") %>

<div class="container text-center">
	<div class="pull-left">
		<h2>User</h2>
		<%= gravatar_for @user %>
		<p><%= @user.name %></p>
		<% if current_user.id != @user.id %>
			<div>
			<% if invited?(@user.id) %>
				<p class="btn btn-info disabled">Invited</p>
			<% elsif 1==0 %>
				<p class="btn btn-success">Friends<span class="glyphicon glyphicon-ok"></span></p>
			<% else %>
				<%= form_for(current_user.invites.build) do |f| %>
					<%= hidden_field_tag :invite_id, @user.id %>
					<%= button_tag(class:"btn btn-primary") do %>
						<%= content_tag :span, "Invite", class: "glyphicon glyphicon-plus" %>
					<% end %>
				<% end %>	
			<% end %>
			</div>	
		<% end %>
		<div class="friend-list">
			<p>Friends(<%= @user.friends.count %>)</p>
			<% @user.friends.each do |friend| %>
				<%= link_to gravatar_for(User.find_by(id: friend.user_id)), user_path(User.find_by(id: friend.user_id)) %>
			<% end %>
		</div>
	</div>

	<h1>Post History</h1>
	<hr>
	<% if @user.posts.any? %>
		<% @user.posts.each do |post| %>
			<div class="well">
				<p><%= post.title %></p>
				<p><%= post.content %></p>
			</div>
			<%= will_paginate %>
		<% end %>
	<% else %>
		<p>No posts yet!</p>
	<% end %>
</div>