<% provide(:title, "Profile") %>

<div class="container text-center col-md-12 col-xs-12">
	<div class="col-md-2 col-xs-12">
		<h2>User</h2>
		<%= gravatar_for @user %>
		<p><%= @user.name %></p>
		<% if current_user.id != @user.id %>
			<div>
			<% if current_user.friends?(@user) %>
				<p class="btn btn-success">Friends<span class="glyphicon glyphicon-ok"></span></p>
			<% elsif current_user.invited?(@user) %>
				<p class="btn btn-info disabled">Invited</p>
			<% else %>
				<%= form_for(current_user.invites.build) do |f| %>
					<%= hidden_field_tag :invite_id, @user.id %>
					<%= button_tag(class:"btn btn-primary") do %>
						<%= content_tag :span, "Invite", class: "glyphicon glyphicon-plus" %>
					<% end %>
				<% end %>	
			<% end %>
			</div>	
		<% end %>
		<div class="friend-list">
			<%= link_to "Friends (#{@user.friends.count})", friend_list_path(@user) %>
			<br>
			<% @user.friends.take(12).each do |friend| %>
				<%= link_to gravatar_for(User.find_by(id: friend.user_id),size: 50), user_path(User.find_by(id: friend.user_id)) %>
			<% end %>
		</div>
	</div>

	<div class="container col-md-10 col-xs-12">
		<h1>Post History</h1>
		<hr>
		
	<% if @user.posts.any? %>
		<%= render 'shared/posts' %>
	<% else %>
		<p>No posts yet!</p>
	<% end %>
	</div>
</div>