<% provide(:title, "Profile") %>

<div class="container text-center">
	<div class="pull-left">
		<h2>User</h2>
		<%= gravatar_for @user %>
		<p><%= @user.name %></p>
		<% if current_user.id == @user.id %>
			<p><%= @user.email %></p>		
		<% end %>
	</div>

	<h1>Post History</h1>
	<hr>
	<% if @user.posts.any? %>
		<% @user.posts.each do |post| %>
			<p><%= post.title %></p>
			<p><%= post.content %></p>
		<% end %>
	<% else %>
		<p>No posts yet!</p>
	<% end %>
</div>