<div class="col-md-offset-2 col-md-8">
	<% @posts.each do |post| %>
		<div class="well container-fluid">
			<div class="col-md-1">
				<%= link_to gravatar_for(friend_data(post)), user_path(friend_data(post)) %>
				<%= link_to friend_data(post).name, user_path(friend_data(post).id) %>
			</div>
			<div class="post col-md-offset-2 text-left">
				<p><em><%= time_ago_in_words(post.created_at) %></em></p>
				<p><%= post.content %></p>
				<% if post.user_id == current_user.id %>
					<div>
						<%= link_to "Edit", edit_post_path(post) %>
						<%= link_to "Delete", post_path(post), method: :delete %>
					</div>
				<% end %>
				<hr>
				<div>
					<%= link_to "Comments (#{post.comments.count})", comments_post_path(post.id) %>
					<ul class="list-inline pull-right">
						<% unless post.user_id == current_user.id%>
							<% unless post.liked? %>
								<li>
								 <%= link_to "Like", post_likes_path(likeable_id: post.id, likeable_type: "Post", id:post.id), method: :post, class: "btn btn-primary" %>
								<li>
							<% else %>
								<li><%= link_to "Unlike", post_like_path(likeable_id: post.id, likeable_type: "Post", id:post.id), method: :delete, class: "btn btn-warning" %></li>
							<% end %>
						<% end %>
						<li>Likes: <%= post.num_likes %></li>
					</ul>
				</div>
			</div>
		</div>
	<% end %>
	<%= will_paginate @posts %>
</div>