<div class="col-md-offset-2 col-md-8">
	<% @posts.each do |post| %>
		<div class="well container-fluid">
			<div class="col-md-1">
				<%= link_to gravatar_for(friend_data(post)), user_path(friend_data(post)) %>
				<%= link_to friend_data(post).name, user_path(friend_data(post).id) %>
			</div>
			<div class="post col-md-offset-2 text-left">
				<p><em><%= time_ago_in_words(post.created_at) %></em></p>
				<p><%= post.content %></p>
				<% if post.user_id == current_user.id %>
					<div>
						<%= link_to "Edit", edit_post_path(post) %>
						<%= link_to "Delete", post_path(post), method: :delete %>
					</div>
				<% end %>
				<hr>
				<div>
					<%= link_to "Comments", '#' %>
					<ul class="list-inline pull-right">
						<li>Likes: </li>
						<li>Dislikes: </li>
					</ul>
				</div>
			</div>
		</div>
	<% end %>
	<%= will_paginate @posts %>
</div>