<!DOCTYPE html>
<html>
<head>
  <title>OdinFacebook - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<%= link_to "OdinFacebook", root_url, :class => "navbar-brand" %>
			</div>
			<ul class="nav navbar-nav">
				<li></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if signed_in? %>
				<li><%= link_to "Sign out", destroy_user_session_path %></li>
				<% else %>
				<li><%= link_to "Sign in", new_user_session_path %></li>
				<li><%= link_to "New User", new_user_registration_path %></li>
				<% end %>
			</ul>
		</div>


	</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
