<!DOCTYPE html>
<html>
<head>
  <title>OdinFacebook - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<%= link_to "OdinBook", root_url, :class => "navbar-brand" %>
			</div>
			<ul class="nav navbar-nav navbar-left">
			<% if signed_in? %>
				<li><%= link_to "Feed", posts_path %></li>
			<% end %>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if signed_in? %>
				<li><%= link_to "Users", users_path %></li>
				<li><%= link_to "Friends", friend_list_path(current_user.id) %></li>
				<li><%= link_to "Notifications<span class='badge'>#{current_user.invites.count}</span>".html_safe, invites_user_path(current_user.id) %></li>
				<li><%= link_to "Profile", user_path(current_user.id) %></li>
				<li><%= link_to "Options", edit_user_registration_path %></li>
				<li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
				<% else %>
				<li><%= link_to "Sign in", new_user_session_path %></li>
				<li><%= link_to "New User", new_user_registration_path %></li>
				<% end %>
			</ul>
		</div>
	</nav>

<div class="test-center container">
	<% if !notice.nil? %>
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p class="notice"><%= notice %></p>
		</div>
	<% end %>
	<% if !alert.nil? %>
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p class="notice"><%= alert %></p>
		</div>
	<% end %>
	<% if flash[:success] %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p class="notice"><%= flash[:success] %></p>
		</div>
	<% end %>
	<% if flash[:error] %>
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<p class="notice"><%= flash[:error] %></p>
		</div>
	<% end %>
</div>
<%= yield %>

</body>
</html>
